<main class="p-4 md:p-10 max-w-screen-lg m-auto mb-10">
    <!-- PROFILE -->
    <app-skeleton *ngIf="profileLoading" [lines]="1" [height]="'h-14'" [margin]="'mb-4'" />
    <app-skeleton *ngIf="profileLoading" [lines]="1" [margin]="'mb-2'" />
    <app-skeleton *ngIf="profileLoading" [lines]="1" [width]="'w-52'" />

    <app-profile *ngIf="!profileLoading" [profileData]="profileData" />

    <hr class="border-t border-slate-900 my-10">

    <!-- INTRODUCTION -->
    <app-skeleton *ngIf="profileLoading" [lines]="1" [height]="'h-12'" [margin]="'mb-8'" />
    <app-skeleton *ngIf="profileLoading" [lines]="4" [maxWidth]="'max-w-none'" />

    <app-intro *ngIf="!profileLoading" [profileData]="profileData" />

    <hr class="border-t border-slate-900 my-10">

    <!-- SKILLS -->
    <app-skeleton *ngIf="skillLoading" [lines]="1" [height]="'h-12'" [margin]="'mb-8'" [width]="'w-44'" />
    <app-skeleton *ngIf="skillLoading" [lines]="4" [maxWidth]="'max-w-none'" />

    <app-skill *ngIf="!skillLoading" [skillData]="skillData" />

    <hr class="border-t border-slate-900 my-10">

    <!-- EXPERIENCE -->
    <app-skeleton *ngIf="experienceLoading" [lines]="1" [height]="'h-12'" [margin]="'mb-8'" [width]="'w-96'" />
    <app-skeleton *ngIf="experienceLoading" [lines]="2" [maxWidth]="'max-w-none'" [margin]="'mb-2'" />
    <app-skeleton *ngIf="experienceLoading" [lines]="2" [maxWidth]="'max-w-none'" [height]="'h-20'"
        [margin]="'mb-16'" />

    <app-skeleton *ngIf="experienceLoading" [lines]="2" [maxWidth]="'max-w-none'" [margin]="'mb-2'" />
    <app-skeleton *ngIf="experienceLoading" [lines]="2" [maxWidth]="'max-w-none'" [height]="'h-20'"
        [margin]="'mb-16'" />

    <app-skeleton *ngIf="experienceLoading" [lines]="2" [maxWidth]="'max-w-none'" [margin]="'mb-2'" />
    <app-skeleton *ngIf="experienceLoading" [lines]="2" [maxWidth]="'max-w-none'" [height]="'h-20'" />

    <app-experience *ngIf="!experienceLoading" [experienceData]="experienceData" />

    <hr class="border-t border-slate-900 my-10">

    <!-- EDUCATION -->
    <app-skeleton *ngIf="educationLoading" [lines]="1" [height]="'h-12'" [margin]="'mb-8'" [width]="'w-60'" />
    <app-skeleton *ngIf="educationLoading" [lines]="2" [maxWidth]="'max-w-none'" [margin]="'mb-8'" />
    <app-skeleton *ngIf="educationLoading" [lines]="2" [maxWidth]="'max-w-none'" />

    <app-education *ngIf="!educationLoading" [educationData]="educationData" />

    <hr class="border-t border-slate-900 my-10">

    <!-- COURSES -->
    <app-skeleton *ngIf="educationLoading" [lines]="1" [height]="'h-12'" [margin]="'mb-8'" [width]="'w-60'" />
    <app-skeleton *ngIf="educationLoading" [lines]="2" [maxWidth]="'max-w-none'" [margin]="'mb-8'" />
    <app-skeleton *ngIf="educationLoading" [lines]="2" [maxWidth]="'max-w-none'" />

    <app-course *ngIf="!courseLoading" [courseData]="courseData" />
</main>