<main class="p-10 max-w-screen-lg m-auto mb-10">
    <!-- PROFILE -->

    <app-profile [profileData]="profileData" />

    <hr class="border-t border-slate-900 my-10">

    <!-- INTRODUCTION -->
    <app-intro [profileData]="profileData" />

    <hr class="border-t border-slate-900 my-10">

    <!-- SKILLS -->
    <app-skill [skillData]="skillData" />

    <hr class="border-t border-slate-900 my-10">

    <!-- EXPERIENCE -->
    <app-experience [experienceData]="experienceData" />

    <hr class="border-t border-slate-900 my-10">

    <!-- EDUCATION -->
    <app-education [educationData]="educationData" />

    <hr class="border-t border-slate-900 my-10">

    <!-- COURSES -->
    <app-course [courseData]="courseData" />
</main>