<div class="flex flex-col md:items-center px-2">
    <h2 class="text-xl md:text-2xl mb-6 uppercase">Courses</h2>
    <div class="space-y-6 w-full">

        <div *ngFor="let course of courseData">
            <div class="flex flex-col md:flex-row md:gap-2">
                <p class="text-sm md:text-base font-semibold">{{ course.name }}</p>
                <p class="text-sm md:text-base font-semibold">({{ getMonthName(course.start_month) }} {{
                    course.start_year }} - {{
                    getMonthName(course.end_month) }} {{
                    course.end_year }})</p>
            </div>
            <p class="text-sm md:text-base">{{ course.provider }} | <a href="{{course.url}}" target="_blank"
                    class="hover:underline underline-offset-2">{{ course.url }}</a></p>
        </div>
    </div>
</div>