<div class="flex flex-col md:items-center px-2">
    <h2 class="text-xl md:text-2xl mb-6 uppercase">Education</h2>
    <div class="space-y-6 w-full">
        <div *ngFor="let edu of educationData">
            <div class="flex flex-col md:flex-row md:gap-2">
                <p class="text-sm md:text-base font-semibold">{{ edu.institution }}</p>
                <p class="text-sm md:text-base font-semibold">({{ edu.start_year }} - {{ edu.end_year }})</p>
            </div>
            <p class="text-sm md:text-base">{{ edu.degree }}</p>
        </div>
    </div>
</div>